tweepy

Official documentation: https://docs.tweepy.org/en/stable/

Ref: https://dev.to/twitterdev/a-comprehensive-guide-for-using-the-twitter-api-v2-using-tweepy-in-python-15d9

In [1]:
import tweepy
import datetime
import pandas as pd
import json
import requests

In [2]:
# Update this variable with YOUR OWN Twitter Bearer Token
BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAACfRYQEAAAAAhOFUrnJ5amg%2F8CCEYhNjl4B7wNM%3D491seRB6MzaDeUgmxQOzJqxvDy2VDaT2Tzs8lNPlB2zImNtFww'

client = tweepy.Client(bearer_token=BEARER_TOKEN, return_type=requests.Response)

In [4]:
'''
Searching for Tweets from the last 7 days

We can use the search_recent_tweets function available in Tweepy.
You will have to pass it a search query to specify the data that you are looking for.

Below, we will search for for Tweets from the last days from the 
Twitter handle realDonaldTrump and we are excluding retweets using -is:retweet.

By default, a request returns 10 Tweets.
If you want more than 10 Tweets per request, you can specify that using the max_results parameter.
The maximum Tweets per request is 100.
'''
# Replace with your own search query
handle = 'KimKardashian'
query = 'from:' + handle + ' -is:retweet'

tweets1 = client.search_recent_tweets(
            query=query,
            tweet_fields=['context_annotations', 'created_at'],
            max_results=100)

In [5]:
'''
Convert to pandas Dataframe
'''

# Save data as dictionary
tweets_dict1 = tweets1.json()

# Extract "data" value from dictionary
tweets_data1 = tweets_dict1['data'] 

# Transform to pandas Dataframe
df1 = pd.json_normalize(tweets_data1)

df1

,created_at,id,context_annotations,text
0,2022-01-21T18:29:10.000Z,1484593931157336065,"[{'domain': {'id': '10', 'name': 'Person', 'de...",Just added new items to my #KardashianKloset h...
1,2022-01-21T16:50:04.000Z,1484568994463895552,"[{'domain': {'id': '10', 'name': 'Person', 'de...",Always ‚úåüèºüíó https://t.co/w3KBqX7RbW
2,2022-01-20T22:11:34.000Z,1484287511341899776,"[{'domain': {'id': '10', 'name': 'Person', 'de...",Just dropped NEW @skims Outdoor! Shop now at h...
3,2022-01-19T20:02:02.000Z,1483892525014282243,"[{'domain': {'id': '10', 'name': 'Person', 'de...",You can expect a wide range of scent notes fro...
4,2022-01-19T20:00:58.000Z,1483892260605349888,"[{'domain': {'id': '10', 'name': 'Person', 'de...",Coming Soon: Jeff Leatham II by @KKWFragrance....
5,2022-01-19T13:47:50.000Z,1483798357633945602,"[{'domain': {'id': '10', 'name': 'Person', 'de...",Beach üÖøÔ∏èarty https://t.co/0rlc0wo7iE
6,2022-01-17T19:45:04.000Z,1483163481947922442,"[{'domain': {'id': '10', 'name': 'Person', 'de...",Mother Nature üßúüèª‚Äç‚ôÄÔ∏è https://t.co/kufiSWM2Dm

In [7]:
df1.shape

(7, 4)

In [8]:
'''
If you want to get Tweets for a specific time-period, you can specify the time-period
using the start_time and end_time parameters, as shown in the example below:
'''

# Replace with time period of your choice
start_time = '2022-01-15T00:00:00Z'

# Replace with time period of your choice
end_time = '2022-01-16T00:00:00Z'


# Replace with your own search query
handle = 'KimKardashian'
query = 'from:' + handle + ' -is:retweet'

tweets2 = client.search_recent_tweets(
            query=query,
            tweet_fields=['context_annotations', 'created_at'],
            start_time=start_time,
            end_time=end_time,
            max_results=100)

'''
Convert to pandas Dataframe
'''

tweets2.json()

BadRequest: 400 Bad Request
Invalid 'start_time':'2022-01-15T00:00Z'. 'start_time' must be on or after 2022-01-17T06:44Z
Invalid 'end_time':'2022-01-16T00:00Z'. 'end_time' must be on or after 2022-01-17T06:44Z

In [ ]:
'''
Writing Tweets to a text file

This example shows how you can write the Tweet IDs for each Tweet obtained 
for a search result, to a text file.

Make sure to replace the file_name with the a name of your chosing.

If you wish to write other fields to the text file, make sure to adjust the script below accordingly.
'''

file_name = 'tweets.txt'

df1.to_csv(file_name, index=False, encoding='utf-8')

# If you want a different delimiter, say, tab or '\t'
# You can do:
#    df2.to_csv(file_name, index=False, encoding='utf-8', sep='\t')