snscrape

Ref: https://github.com/JustAnotherArchivist/snscrape

In [1]:
#testing
import snscrape.modules.twitter as sntwitter
import pandas as pd

Scraping a specific Twitter user‚Äôs tweets

Let's use this handle: @KimKardashian

Using the code, we can scrape 100 tweets from Twitter user @KimKardashian.
We then pulled the DateTime, tweet id, text, and username attributes from the tweet objects.

In [2]:
# Creating list to append tweet data 
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
handle = 'KimKardashian'

# declare a username 
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('from:' + handle).get_items()): 
    if i > 10: #number of tweets you want to scrape
        break
        
    #declare the attributes to be returned
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [3]:
tweets_df1

,Datetime,Tweet Id,Text,Username
0,2022-01-21 18:29:10+00:00,1484593931157336065,Just added new items to my #KardashianKloset h...,KimKardashian
1,2022-01-21 16:50:04+00:00,1484568994463895552,Always ‚úåüèºüíó https://t.co/w3KBqX7RbW,KimKardashian
2,2022-01-20 22:11:34+00:00,1484287511341899776,Just dropped NEW @skims Outdoor! Shop now at h...,KimKardashian
3,2022-01-19 20:02:02+00:00,1483892525014282243,You can expect a wide range of scent notes fro...,KimKardashian
4,2022-01-19 20:00:58+00:00,1483892260605349888,Coming Soon: Jeff Leatham II by @KKWFragrance....,KimKardashian
5,2022-01-19 13:47:50+00:00,1483798357633945602,Beach üÖøÔ∏èarty https://t.co/0rlc0wo7iE,KimKardashian
6,2022-01-17 19:45:04+00:00,1483163481947922442,Mother Nature üßúüèª‚Äç‚ôÄÔ∏è https://t.co/kufiSWM2Dm,KimKardashian
7,2022-01-15 16:08:17+00:00,1482384151584014336,üéÇ ‚ô•Ô∏è https://t.co/B5KQ0AvOkF,KimKardashian
8,2022-01-15 16:05:50+00:00,1482383535486816256,üíï https://t.co/QzJpnLCajW,KimKardashian
9,2022-01-15 15:37:05+00:00,1482376298118877184,I can‚Äôt wait to celebrate with all of the Barb...,KimKardashian
10,2022-01-15 15:36:32+00:00,1482376160117886980,My birthday baby girl Chi Chi turns 4 today! M...,KimKardashian

Scraping tweets from a text search query

Using the code below, we are scraping 100 tweets between June 14, 2020, and August 31, 2021,
with the keywords 'SSR Bollywood'.

I then pulled attributes DateTime, tweet id, text, and username from the tweet objects.

In [6]:
# Creating list to append tweet data to
tweets_list2 = []

# search terms
search_terms = 'SMArigged'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms + ' since:2021-06-14 until:2021-08-31').get_items()):
    if i > 10000:
        break
    #declare the attributes to be returned
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [7]:
tweets_df2

Empty DataFrame
Columns: [Datetime, Tweet Id, Text, Username]
Index: []

In [8]:
# Creating list to append tweet data to
tweets_list2 = []

# search terms
search_terms = '#SMArigged'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms).get_items()):
    if i > 10000:
        break
    #declare the attributes to be returned
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [9]:
tweets_df2

,Datetime,Tweet Id,Text,Username
0,2022-01-24 06:56:31+00:00,1485506783082729472,SMA MAKES MAMA LOOK SO GOOD #SMArigged #SMA_Re...,mynyeongie
1,2022-01-24 06:56:07+00:00,1485506685188079619,Yall in #SMArigged can keep crying without dra...,dollsxngie
2,2022-01-24 06:50:55+00:00,1485505375780864001,#SMArigged https://t.co/RfhfvRZ4Ml,rayanamalik2
3,2022-01-24 06:45:27+00:00,1485503999185145857,"En- deserves that 2 awards, but txt too. Those...",lilac_gum
4,2022-01-24 06:39:40+00:00,1485502544487288832,#SMArigged https://t.co/GW0erukELd,aratazaki
...,...,...,...,...
9122,2020-12-10 12:08:06+00:00,1337006174210650118,@Whosfan_HANTEO #SMA_OUT #SMARIGGED https://t....,httpsmago
9123,2020-12-10 12:07:14+00:00,1337005955070869506,#SMARIGGED https://t.co/iHlTdNsWBx https://t.c...,httpsmago
9124,2020-12-09 15:59:30+00:00,1336702017507450880,@wenzerody @30thSMAOfficial @RVsmtown Bahkan n...,princesscalla
9125,2020-01-30 13:06:04+00:00,1222868583778140160,olo Fukkkkk SMA. i want refund my money. it no...,FallenBlood
9126,2020-01-30 12:32:15+00:00,1222860073912815616,#smarigged\n#IZONEBloomingForSMA \n#JusticeFor...,izonepup

In [10]:
file_name = '#SMArigged.csv'

tweets_df2.to_csv(file_name, index=False, encoding='utf-8')